<!--render partial(部分テンプレートの明示) : '部分テンプレートファイルの指定'-->
<%= render partial:'list' %>

<!-- みんなの投稿一覧 -->
<div class="col-md-8 offset-md-1">
  <h2>Books</h2>
  <table class="table">
    <thead>
      <tr>
        <th> </th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
      <tr>
        <th>
          <%= link_to user_path(@user) do %>
            <%= image_tag book.user.get_profile_image(100,100) %></th>
          <% end %>
        <th>
          <%= link_to book_path(book.id) do %> <!--booksshow--><!--呼び出した文字や画像をリンクにする方法-->
            <%= book.title %>
          <% end %>
        </th>
        <th><%= book.body %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
